{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "linebreak-style": ["error", "unix"],
    "no-use-before-define": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "global-require": ["off"],
    "import/no-dynamic-require": ["off"],
    "quotes": ["error", "double"],
    "arrow-parens": ["error", "always"]
  },
  "env": {
    "browser": false,
    "node": true
  }
}
